<div th:fragment="emptyBootstrapRow" th:remove="tag">
<!--
****************************************************************************
  Begin Fragment: Vaccines
****************************************************************************
-->
<div class="row">
	<div class="col-12">
		&nbsp;
	</div>
</div>
<!--
****************************************************************************
  End Fragment: Vaccines
****************************************************************************
-->
</div>