<div th:fragment="metaHeaders" th:remove="tag">
<!--
****************************************************************************
  Begin Fragment: Meta Headers
****************************************************************************
-->
<meta charset="UTF-8">
<meta name="theme-color" content="#d0d0d0">
<meta name="msapplication-navbutton-color" content="#d0d0d0">
<meta name="apple-mobile-web-app-status-bar-style" content="#d0d0d0">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="mobile-web-app-capable" content="yes" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" id="vp" content="initial-scale=1.0,user-scalable=no,maximum-scale=1"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<meta property="og:title" content="Marco Solina | Italian Covid Status">
<meta name="description" content="Marco Solina : Every day the news provides the updated numbers with respect the Covid Situation in Italy. I don't think that the way that the news gives us the number is appropriate, hence I create this simple page, which retrieves the numbers from the Goverment Website, and it shows the same number but using charts">
<meta property="og:description" content="Marco Solina : Every day the news provides the updated numbers with respect the Covid Situation in Italy. I don't think that the way that the news gives us the number is appropriate, hence I create this simple page, which retrieves the numbers from the Goverment Website, and it shows the same number but using charts">
<meta property="og:type" content="website">
<meta property="og:url" content="https://marco.selfip.net/Covid19Italy">
<meta property="og:image" th:content="@{/pictures/covid-coronavirus.jpg}">
<!--
****************************************************************************
  End Fragment: Meta Headers
****************************************************************************
-->
</div>