<div th:fragment="tabNationalData" th:remove="tag">
<!--
****************************************************************************
  Begin Fragment: National Data
****************************************************************************
-->

<div class="tab-pane fade show active" id="nav-national" role="tabpanel" aria-labelledby="nav-home-tab">
	<div class="container-fluid">
		<div class="row">
			<div class="col">&nbsp;</div>
		</div>
		<div class="row" id="nationalDataCheckboxesWrapper"></div>
		<div class="row">
			<div class="col">&nbsp;</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-xl-8">
				<canvas id="chartNational"></canvas>
			</div>
		</div>		
	</div>
</div>

<!--
****************************************************************************
  End Fragment: National Data
****************************************************************************
-->
</div>