<div th:fragment="tabNationalData" th:remove="tag">
<!--
****************************************************************************
  Begin Fragment: National Data
****************************************************************************
-->

<div class="tab-pane fade" id="nav-national" role="tabpanel" aria-labelledby="nav-home-tab">
	<div class="container-fluid">
		<div th:replace="fragments/generic.html::emptyBootstrapRow"></div>
		<div class="row">
			<div class="col-12 d-flex justify-content-center">
				<h5>Dati a livello nazionale</h5>
			</div>
		</div>
		<div th:replace="fragments/generic.html::emptyBootstrapRow"></div>
		<div class="row">
			<div class="col-12">
				<div class="row">
					<div class="col-lg-12 col-xl-4">
						<div class="row" id="nationalDataCheckboxesWrapper"></div>
						<div th:replace="fragments/generic.html::emptyBootstrapRow"></div>	
					</div>
					<div class="col-lg-12 col-xl-8">
						<canvas id="chartNational"></canvas>
					</div>
				</div>
			</div>
		</div>		
	</div>
</div>

<!--
****************************************************************************
  End Fragment: National Data
****************************************************************************
-->
</div>