<div th:fragment="tabTotals" th:remove="tag">
<!--
****************************************************************************
  Begin Fragment: Totals
****************************************************************************
-->

<div class="tab-pane fade show active" id="nav-totals" role="tabpanel" aria-labelledby="nav-totals-tab">
	<div class="container-fluid">
		<div th:replace="fragments/generic.html::emptyBootstrapRow"></div>
		<div class="row">
			<div class="col-12 d-flex justify-content-center">
				<h5>Totali da inizio pandemia</h5>
			</div>
		</div>
		<div th:replace="fragments/generic.html::emptyBootstrapRow"></div>
		<div class="row">
		    <div class="col-md-12 col-lg-12 col-xl-6 chart-min-height">
                <canvas id="firstDosePerc"></canvas>
            </div>
            <div class="col-md-12 col-lg-12 col-xl-6">
            	<div class="row" id="totalInfectionsCheckBoxes">
            	</div>
            	<div class="row">
            		<div class="col-12">
		                <canvas id="totalInfectionsChart"></canvas>
            		</div>
            	</div>
            </div>
			<div class="col-md-12 col-lg-12 col-xl-6 chart-min-height">
                <canvas id="vaccinatedPerRegion"></canvas>
            </div>
			<div class="col-md-12 col-lg-12 col-xl-6 chart-min-height">
				<canvas id="chartTotalsVaccinesGivenPerAge"></canvas>
			</div>
			<div class="col-md-12 col-lg-12 col-xl-6 chart-min-height">
				<canvas id="chartTotalsVaccinesUsedDeliveredPerRegion"></canvas>
			</div>
			<div class="col-md-12 col-lg-6 col-xl-6">
				<div class="col-12">
					<div th:replace="fragments/generic.html::emptyBootstrapRow"></div>
					<div class="row">
						<div class="col-12 d-flex justify-content-center">
							<b>Totale Vaccini Consegnati / Usati a livello Nazionale</b>
						</div>
					</div>
					<div th:replace="fragments/generic.html::emptyBootstrapRow"></div>
					<div class="row">
						<div class="col-12">
							<div class="row" id="chartTotalsVaccinesUsedDeliveredLabels">
							</div>
						</div>
						<div class="col-12">
							<canvas id="chartTotalsVaccinesUsedDelivered"></canvas>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-lg-6 col-xl-6">
				<div class="col-12">
					<div th:replace="fragments/generic.html::emptyBootstrapRow"></div>
					<div class="row">
						<div class="col-12 d-flex justify-content-center">
							<b>Totale Forniture Vaccini</b>
						</div>
					</div>
					<div th:replace="fragments/generic.html::emptyBootstrapRow"></div>
					<div class="row">
						<div class="col-12">
							<div class="row" id="chartTotalsVaccinesDeliveredPerSupplierLabels">
							</div>
						</div>
						<div class="col-12">
							<canvas id="chartTotalsVaccinesDeliveredPerSupplier"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--
****************************************************************************
  End Fragment: Totals
****************************************************************************
-->
</div>