<div th:fragment="tabTotals" th:remove="tag">
<!--
****************************************************************************
  Begin Fragment: Totals
****************************************************************************
-->

<div class="tab-pane fade" id="nav-totals" role="tabpanel" aria-labelledby="nav-totals-tab">
	<div class="container-fluid">
		<div th:replace="fragments/generic.html::emptyBootstrapRow"></div>
		<div class="row">
			<div class="col-12 d-flex justify-content-center">
				<h5>Totale dei dati disponibili</h5>
			</div>
		</div>
		<div th:replace="fragments/generic.html::emptyBootstrapRow"></div>
		<div class="row">
			<div class="col-md-12 col-lg-12 col-xl-8">
				<canvas id="chartTotalsVaccinesUsedDeliveredPerRegion"></canvas>
			</div>
			<div class="col-md-12 col-lg-6 col-xl-4">
				<canvas id="chartTotalsVaccinesUsedDelivered"></canvas>
			</div>
		</div>
	</div>
</div>

<!--
****************************************************************************
  End Fragment: Totals
****************************************************************************
-->
</div>