<div th:fragment="tabVaccinesBody" th:remove="tag">
<!--
****************************************************************************
  Begin Fragment: Vaccines
****************************************************************************
-->
<div class="tab-pane fade" id="nav-vaccines" role="tabpanel" aria-labelledby="nav-vaccines-tab">
	<div class="container-fluid">
		<div th:replace="fragments/generic.html::emptyBootstrapRow"></div>
		<div class="row">
			<div class="col-12 d-flex justify-content-center">
				<h5>Vaccini consegnati alle Regioni</h5>
			</div>
		</div>
		<div th:replace="fragments/generic.html::emptyBootstrapRow"></div>
		<div class="row">
			<div class="col-12">
				<div class="row">
					<div class="col-lg-12 col-xl-4">
						<div class="row" id="rowRegionVaccines"></div>
						<div th:replace="fragments/generic.html::emptyBootstrapRow"></div>			
					</div>
					<div class="col-lg-12 col-xl-8">
						<canvas id="chartVaccinesDelivered"></canvas>
					</div>
				</div>
			</div>
		</div>
		<!-- 
		These data are not available anymore in the goverment repo. I will keep the code here just for reference, or in case they
        change their mind and restore these info
        
		<div th:replace="fragments/generic.html::emptyBootstrapRow"></div>
		<div class="row">
			<div class="col-12 d-flex justify-content-center">
				<h5>Numero Somminitrazioni</h5>
			</div>
		</div>
		<div th:replace="fragments/generic.html::emptyBootstrapRow"></div>
		<div class="row">
			<div class="col-12">
				<div class="row">
					<div class="col-lg-12 col-xl-4">
						<div class="row" id="vaccinesGivenCheckboxes"></div>
						<div th:replace="fragments/generic.html::emptyBootstrapRow"></div>	
					</div>
					<div class="col-lg-12 col-xl-8">
						<canvas id="chartVaccinesGiven"></canvas>
					</div>
				</div>
			</div>
		</div>
		-->
		<div th:replace="fragments/generic.html::emptyBootstrapRow"></div>
		<div class="row">
			<div class="col-md-12 col-lg-6 col-xl-6 chart-min-height">
				<canvas id="chartVaccinesSuppliers"></canvas>
			</div>
			<div class="col-md-12 col-lg-6 col-xl-6 chart-min-height">
				<canvas id="chartVaccinesDoses"></canvas>
			</div>
			<div class="col-md-12 col-lg-12 col-xl-8 chart-min-height">
				<canvas id="chartVaccinesPerAge"></canvas>
			</div>
		</div>
		<div th:replace="fragments/generic.html::emptyBootstrapRow"></div>
	</div>
</div>


<!--
****************************************************************************
  End Fragment: Vaccines
****************************************************************************
-->
</div>