<div th:fragment="tabVaccinesBody" th:remove="tag">
<!--
****************************************************************************
  Begin Fragment: Vaccines
****************************************************************************
-->
<div class="tab-pane fade" id="nav-vaccines" role="tabpanel" aria-labelledby="nav-vaccines-tab">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				&nbsp;
			</div>
		</div>
		<div class="row" id="rowRegionVaccines"></div>
		<div class="row">
			<div class="col-12">
				&nbsp;
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="d-flex justify-content-center">
					<h5>Vaccini Consegnati</h5>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				&nbsp;
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-xl-8">
				<canvas id="chartVaccinesDelivered"></canvas>
			</div>
		</div>
	</div>
</div>


<!--
****************************************************************************
  End Fragment: Vaccines
****************************************************************************
-->
</div>