<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>COVID-19 ITALY</title>
	<meta name="theme-color" content="#d0d0d0">
	<meta name="msapplication-navbutton-color" content="#d0d0d0">
	<meta name="apple-mobile-web-app-status-bar-style" content="#d0d0d0">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="mobile-web-app-capable" content="yes" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" id="vp" content="initial-scale=1.0,user-scalable=no,maximum-scale=1"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	
	<meta property="og:title" content="Marco Solina | Italian Covid Status">
	<meta name="description" content="Marco Solina : Every day the news provides the updated numbers with respect the Covid Situation in Italy. I don't think that the way that the news gives us the number is appropriate, hence I create this simple page, which retrieves the numbers from the Goverment Website, and it shows the same number but using charts">
	<meta property="og:description" content="Marco Solina : Every day the news provides the updated numbers with respect the Covid Situation in Italy. I don't think that the way that the news gives us the number is appropriate, hence I create this simple page, which retrieves the numbers from the Goverment Website, and it shows the same number but using charts">
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://marco.selfip.net/Covid19Italy">
	<meta property="og:image" th:content="@{/pictures/covid-coronavirus.jpg}">
	
	<script th:src="@{/webjars/js/Chart.min.js}"></script>
	<script th:src="@{/webjars/js/popper.min.js}"></script>	
	<script th:src="@{/webjars/js/jquery.min.js}"></script>
	<script th:src="@{/webjars/js/jquery-ui.min.js}"></script>
	<script th:src="@{/webjars/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/webjars/js/pnotify.custom.min.js}"></script>
	
	<script th:src="@{/webjars/js/MarcoUtils.js}"></script>
	<script th:src="@{/js/CovidChart.js?v=} + ${appVersion}"></script>	
	<script th:src="@{/js/CovidChartDataset.js?v=} + ${appVersion}"></script>
	<script th:src="@{/js/CovidCommon.js?v=} + ${appVersion}"></script>
	
	<link rel="stylesheet" th:href="@{/webjars/css/jquery-ui.css}">
	<link rel="stylesheet" th:href="@{/webjars/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/webjars/css/pnotify.custom.min.css}">
	<link rel="stylesheet" th:href="@{/webjars/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/webjars/css/animate.css}">
	<link rel="stylesheet" th:href="@{/webjars/css/marco.css}">
	<link rel="stylesheet" th:href="@{/css/style.css?v=} + ${appVersion}">	
	
	
	<script th:inline="javascript">
	/*<![CDATA[*/
		
	    var __URLS = /*[[${urls}]]*/ {};
	    var __REGIONS_LIST = /*[[${regions}]]*/ {};
	    var __REGIONS_MAP = {};
		
		window.onload = function(){
			CovidCommon.init(); // Initialise the app
			//$("#btnTheme").click();
			$("#dateFrom").change(); // Load the first set of data
			//$("#infoModal").modal("show"); // Show the info modal
			setTimeout(function(){$(".button-notification").fadeIn();}, 2000);
			setTimeout(function(){$(".button-notification").fadeOut();}, 11000);
		}
		
	/*]]>*/
	</script>
	
</head>
<body>
	<nav class="navbar sticky-top navbar-dark bg-dark">
		<span class="navbar-brand mb-0 h1">Italian Covid Status</span>
		<div>
			<button class="btn btn-outline-light" type="button" id="btnTheme" data-toggle="tooltip" data-placement="bottom" title="Cambia colori">
				<i class="fa fa-tint" aria-hidden="true"></i>
			</button>
			<span data-toggle="tooltip" data-placement="bottom" title="Leggi le informazioni">
				<button class="btn btn-outline-light" type="button" data-toggle="modal" data-target="#infoModal">
					<i class="fa fa-info" aria-hidden="true"></i>
				</button>
			</span>
		</div>
	</nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col">&nbsp;</div>
		</div>
		<div class="row">
			<div class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">
				<div class="input-group input-group-sm">
					<div class="input-group-prepend">
						<span class="input-group-text">Dal</span>
					</div>
					<input type="text" id="dateFrom" class="form-control" th:value="${from}">
				</div>
			</div>
			<div class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">
				<div class="input-group input-group-sm">
					<div class="input-group-prepend">
						<span class="input-group-text">Al</span>
					</div>
					<input type="text" id="dateTo" class="form-control" th:value="${to}">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">&nbsp;</div>
		</div>
	</div>
	<nav>
		<div class="nav nav-tabs flex-column flex-sm-row" id="nav-tab" role="tablist">
			<a class="nav-item nav-link active"	id="nav-national-tab"	data-toggle="tab" href="#nav-national"	role="tab" aria-controls="nav-national" 	aria-selected="true">Dati Nazionali</a>
			<a class="nav-item nav-link"		id="nav-region-tab"		data-toggle="tab" href="#nav-region"	role="tab" aria-controls="nav-region"		aria-selected="false">Regionali</a>
			<a class="nav-item nav-link"		id="nav-province-tab"	data-toggle="tab" href="#nav-province"	role="tab" aria-controls="nav-province" 	aria-selected="false">Provinciali</a>
			<a class="nav-item nav-link"		id="nav-region-map-tab"	data-toggle="tab" href="#nav-region-map"role="tab" aria-controls="nav-region-map" 	aria-selected="false">Mappa Regioni</a>
			<a class="nav-item nav-link"		id="nav-vaccines-tab"	data-toggle="tab" href="#nav-vaccines"	role="tab" aria-controls="nav-vaccines" 	aria-selected="false">Vaccini</a>
		</div>
	</nav>
	<div class="tab-content" id="nav-tabContent">
		<div th:replace="fragments/tabNationalData.html::tabNationalData"></div>
		<div th:replace="fragments/tabRegionData.html::tabRegionData"></div>
		<div th:replace="fragments/tabProvinceData.html::tabProvinceData"></div>
		<div th:replace="fragments/tabItalianMap.html::tabItalianMap"></div>
		<div th:replace="fragments/tabVaccines.html::tabVaccinesBody"></div>
	</div>
	<div th:replace="fragments/infoModal.html::infoModal"></div>
	<div class="button-notification alert-info">Clicca i bottoni qui sopra per cambiare i colori o leggere le informazioni</div>
</body>
</html>