<!DOCTYPE html>
<html lang="en">
<head>
	<title>COVID-19 ITALY</title>

	<meta th:replace="fragments/metaHeaders.html::metaHeaders"></meta>
	<script th:replace="fragments/importJs.html::jsImports"></script>
	<style th:replace="fragments/importCss.html::cssImports"></style>
	
	<script th:inline="javascript">
	/*<![CDATA[*/
		
	    var __URLS = /*[[${urls}]]*/ {};
	    var __REGIONS_LIST = /*[[${regions}]]*/ {};
	    var __REGIONS_MAP = {};
		
		window.onload = function(){
			CovidCommon.init(); // Initialise the app
			//$("#btnTheme").click();
			$("#dateFrom").change(); // Load the first set of data
			//$("#infoModal").modal("show"); // Show the info modal
			setTimeout(function(){$(".button-notification").fadeIn();}, 2000);
			setTimeout(function(){$(".button-notification").fadeOut();}, 11000);
		}
		
	/*]]>*/
	</script>
	
</head>
<body>
	<nav class="navbar sticky-top navbar-dark bg-dark">
		<span class="navbar-brand mb-0 h1">Italian Covid Status</span>
		<div>
			<button class="btn btn-outline-light" type="button" id="btnTheme" data-toggle="tooltip" data-placement="bottom" title="Cambia colori">
				<i class="fa fa-tint" aria-hidden="true"></i>
			</button>
			<span data-toggle="tooltip" data-placement="bottom" title="Leggi le informazioni">
				<button class="btn btn-outline-light" type="button" data-toggle="modal" data-target="#infoModal">
					<i class="fa fa-info" aria-hidden="true"></i>
				</button>
			</span>
		</div>
	</nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col">&nbsp;</div>
		</div>
		<div class="row">
			<div class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">
				<div class="input-group input-group-sm">
					<div class="input-group-prepend">
						<span class="input-group-text">Dal</span>
					</div>
					<input type="text" id="dateFrom" class="form-control" th:value="${from}">
				</div>
			</div>
			<div class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">
				<div class="input-group input-group-sm">
					<div class="input-group-prepend">
						<span class="input-group-text">Al</span>
					</div>
					<input type="text" id="dateTo" class="form-control" th:value="${to}">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">&nbsp;</div>
		</div>
	</div>
	<nav>
		<div class="nav nav-tabs flex-column flex-sm-row" id="nav-tab" role="tablist">
			<a class="nav-item nav-link active"	id="nav-national-tab"	data-toggle="tab" href="#nav-national"	role="tab" aria-controls="nav-national" 	aria-selected="true">Dati Nazionali</a>
			<a class="nav-item nav-link"		id="nav-region-tab"		data-toggle="tab" href="#nav-region"	role="tab" aria-controls="nav-region"		aria-selected="false">Regionali</a>
			<a class="nav-item nav-link"		id="nav-province-tab"	data-toggle="tab" href="#nav-province"	role="tab" aria-controls="nav-province" 	aria-selected="false">Provinciali</a>
			<a class="nav-item nav-link"		id="nav-region-map-tab"	data-toggle="tab" href="#nav-region-map"role="tab" aria-controls="nav-region-map" 	aria-selected="false">Mappa</a>
			<a class="nav-item nav-link"		id="nav-vaccines-tab"	data-toggle="tab" href="#nav-vaccines"	role="tab" aria-controls="nav-vaccines" 	aria-selected="false">Vaccini</a>
			<a class="nav-item nav-link"		id="nav-totals-tab"		data-toggle="tab" href="#nav-totals"	role="tab" aria-controls="nav-totals"	 	aria-selected="false">Totali</a>
		</div>
	</nav>
	<div class="tab-content" id="nav-tabContent">
		<div th:replace="fragments/tabNationalData.html::tabNationalData"></div>
		<div th:replace="fragments/tabRegionData.html::tabRegionData"></div>
		<div th:replace="fragments/tabProvinceData.html::tabProvinceData"></div>
		<div th:replace="fragments/tabItalianMap.html::tabItalianMap"></div>
		<div th:replace="fragments/tabVaccines.html::tabVaccinesBody"></div>
		<div th:replace="fragments/tabTotals.html::tabTotals"></div>
	</div>
	<div th:replace="fragments/infoModal.html::infoModal"></div>
	<div class="button-notification alert-info">Clicca i bottoni qui sopra per cambiare i colori o leggere le informazioni</div>
</body>
</html>