<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>COVID-19 ITALY</title>
	<script 
		src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" 
		integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" 
		crossorigin="anonymous"></script>
	
	
	<script th:inline="javascript">
	/*<![CDATA[*/
	    var data = /*[[${data}]]*/ [];
	
		var arrLabel = [];
		var arrPerc = [];
		data.forEach(element => {
			arrLabel.push(element.date);
			arrPerc.push(element.infectionPercentage);
		});
	
		window.onload = function(){
			var ctx = document.getElementById('myChart');
			var myChart = new Chart(ctx, {
			    type: 'bar',
			    data: {
			        labels: arrLabel,
			        datasets: [{
			            label: '# Perc Infetti',
			            data: arrPerc,
			            borderWidth: 1
			        }]
			    },
			    options: {
			        scales: {
			            yAxes: [{
			                ticks: {
			                    beginAtZero: true
			                }
			            }]
			        }
			    }
			});
		}
	/*]]>*/
	</script>
	
</head>
<body>
	<h1>Italian COVID-19 Situation</h1>
	<canvas id="myChart" width="400" height="150"></canvas>
</body>
</html>